# ==== general seeting ====

DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

# ==== index.js ====

ALLOWED_USER_IDS=
CATEGORY_IDS=
ALLOWED_ROLE_ID=

# ==== addpoints.js ====

ALLOWED_ROLES=
LOG_THREAD_ID=

# ==== come.js ====

LOG_THREAD_CHANNEL_ID=

# ==== database.js ====

AUTHORIZED_USER_ID=
DATA_FOLDER=./data

# ==== resetponits.js ====

POINTS_FILE=./data/points.json
ADMINS_FILE=./data/admins.json
LOGS_CHANNEL_ID=

# ==== totalpoints.js ====

POINTS_FILE=./data/points.json
TOTAL_ROLE_ID=

# ==== userpoints.js ====

POINTS_FILE=./data/points.json
ROLE_ID=

# Bot by Shaad You | 756947441592303707
# Server Support => https://discord.gg/Tpwgkj9gzj
